/*HEADER STYLING SECTION*/
body, header {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  padding: 20px 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
  transition: background-color 0.5s;
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.left-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  flex-wrap: wrap;
}

/* Styling for the sections */
section {
  padding: 50px;
}

/* HOME STYLING SECTION */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;

  background-image: url('./images/home_wallpaper.png'); 
  background-size: cover; 
  background-position: center;
}

.home-content {
  max-width: 900px; 
  margin: 0 auto;
}

.home-heading {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 100px; 
  font-weight: bold; 
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.home-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-paragraph {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #222222;
  margin-right: 5vh;
  text-align: right;

  border: 3px solid #333;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding: 5px;
  padding-right: 30px;
  box-sizing: border-box;
}

.home-images {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: -5vh;
  padding-right: 250px;
}

.home-images img {
  width: 40px; 
  height: auto;
  margin-left: 20px;
}