.about-content {
    display: grid;
    place-items: center;
    align-content: center;
    height: 50vh;
    text-align: center;
    min-height: 500px;
}

.about-text {
    width: 65vw;
    text-align: left;
}

.section-head {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    color: #AC9362;
}

.section-head h2 {
    margin-bottom: 0;
}

.about-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
}

.about-body p {
    margin-top: 0;
}

.about-body a{
    text-decoration: none;
    color: blue;
    transition: 0.5s ease;
}

.about-body a:hover{
    color: lightseagreen;
}


@media (min-width: 1000px) {
    .about-text {
        width: 650px;
    }

    .section-head {
        font-size: 32px;
    }

    .about-body {
        font-size: 25px;
    }

    .skills p {
        font-size: 45px;
        padding-right: 25px;
    }

    .language-icons {
        margin-left: 20px;
    }

    .language-icons img {
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }
}

@media (max-width: 350px){
    .about-text {
        width: 227.5px;
    }

    .section-head {
        font-size: 8.75px;
    }

    .about-body {
        font-size: 8.75px;
    }

    .skills p {
        font-size: 15.75px;
        padding-right: 8.75px;
    }

    .language-icons {
        margin-left: 7px;
    }

    .language-icons img {
        width: 17.5px;
        height: 17.5px;
        margin-left: 5px;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
