.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
  }
  
  .footer-items {
    display: flex;
    align-items: center;
  }
  
  .footer img {
    width: 60px;
    height: 60px;
    margin-left: 10px; /* Add spacing between text and image */
    transition: 0.3s;
  }

  .footer img:hover {
    transform: scale(1.3);
  }
  
  .footer h2 {
    font-family: 'Maven Pro';
    color: white;
    font-size: 40px;
    margin: 0; /* Remove default margin */
  }