.about-content {
    display: grid;
    place-items: center;
    align-content: center;
    height: 50vh;
    text-align: center;
    min-height: 500px;
}

.about-text {
    width: 650px;
    text-align: left;
}

.section-head {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #AC9362;
}

.section-head h2 {
    margin-bottom: 0;
}

.about-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.about-body p {
    margin-top: 0;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 60px;
}

.skills p {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;

    border: 1px solid #222;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-right: 25px;
    box-sizing: border-box;
}

.language-icons {
    margin-left: 40px;
}

.language-icons img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.logo {
    display: inline-block;
}

.logo:nth-child(1){
    transition-delay: 100ms;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}

.logo:nth-child(3){
    transition-delay: 300ms;
}

.logo:nth-child(4){
    transition-delay: 400ms;
}

.logo:nth-child(5){
    transition-delay: 500ms;
}

.logo:nth-child(6){
    transition-delay: 600ms;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}